## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
base = 7
exponent = 4

result = 1

while exponent != 0:
    result *= base
    exponent-=1

print( str(result))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
txt = "Hi there Sam"

x = txt.split()

print(x)

['Hi', 'there', 'Sam']

In [ ]:
txt="Hi there dad!"
x=txt.split()
print(x)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
print("The diameter of Earth is {} kilometers.".format(12742))

The diameter of Earth is 12742 kilometers.

In [ ]:
print("The diameter of {} is {} kilometers".format('Earth',12742))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2]
a=str(a)
b=a.strip('[').strip(']')
print(b)

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
#Tuple is immutable
#List is mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
    return email.split('@')[-1]

In [ ]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
    return 'dog' in st.lower().split()

In [ ]:
findDog('Is the dog present here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [ ]:
countDog('This dog runs faster than the other dogs!')

1

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [26]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [25]:
caught_speeding(81,True)

'Small Ticket'

In [24]:
caught_speeding(81,False)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [23]:
emp=[50000,60000,55000,30000,40000]
for i in emp:
  print(i)
a=sum(emp)
print('Total Salary Expenditure:',a)

50000
60000
55000
30000
40000
Total Salary Expenditure: 235000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [22]:
dict_1 = {'Empid': 21, 'Empname': 'Riaz Ahamed', 'Basicpay' : 70000 }
dict_2 = {'DeptName': 'CSE','DeptId': 30}
dict_1.update(dict_2)
print('Updated dictionary:')
print(dict_1)

Updated dictionary:
{'Empid': 21, 'Empname': 'Riaz Ahamed', 'Basicpay': 70000, 'DeptName': 'CSE', 'DeptId': 30}